################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SampleWebApplicationTest/packages
/SampleWebApplicationTest/.vs
/SampleWebApplicationTest/SampleWebApplication/obj/Debug
/SampleWebApplicationTest/SampleWebApplication/bin
